.ChosePlaylists {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 50%;
    padding: 15px;
    color: grey;
    background-color: #ffffff;
    z-index: 9999;
    border-radius: 5px;
}
.ChosePlaylists button{
    margin-bottom: 5px;
}