.PopupArea {
  position: fixed;
  width: 400px;
  height: 300px;
  top: 20%;
  left: 700px;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
}
.PopupArea button {
  margin: 10px;
}
.popupImage {
  max-width: 150px;
}
