.loginButton a {
    transition: .3s;
    text-decoration: none;
    padding: 10px;
    background-color: #1976D2;
    color: #ffffff;
    border-radius: 5px;
}
.loginButton a:hover {
    background-color: #aec4db;
    color: #1976D2;
    padding: 10px 25px;
}